* {
    margin: 0;
    padding: 0;
    
  
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.fundoVerde {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E");
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
   

}

.logob {
    background-image: url("https://www.pngjoy.com/pngl/267/5122808_shopify-logo-shopify-logo-white-png-png-download.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 80px;
    width: 150px;
    right: 46%;
    margin: 5px;

    
}

.txt1 {

    text-align: center;
    font-size: 30px;
    transform: translate(0px, 50px);
    color: white;
    line-height: 40px;
    padding: 20px;

}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 15px;

}
.start1 {
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
    
}

.try {
    line-height: 15px;
    font-size: 12px;

}

.carrinho img{
    margin: 15%;
    margin-top: 10%;
    padding-left: 25%;
    width: 20%;
    height: auto;
   

    
}

p {

    font-size: x-large;
}


.container{
    position: absolute;
    display: flex;
    margin: 15%;
    width: 70%;
    top: 500px;
    margin-left: 15%;
    


    
}
.container p{
color: darkgrey;
}

.apoio1 img{
    margin: 10%;
    align-items: center;
    width: 80%;
    
}
.apoio1{
    
    text-align: center;

}

.start2{
    align-items: center;
  
    text-align: center;
    line-height: 10;
}


.start2 button{
    align-items: center;
    width: 140px;
    height: 30px;
    color: white;
    background-color: rgb(5, 116, 38);
    border-radius: 5px;
    border: none;
}

.faqs{
    padding-top: 100px;
    text-align: center;
    color: rgb(5, 116, 38)
}
.options{
    margin: 3%;
    height: 500px;
    background-color: rgb(249, 249, 248);
    justify-content: center;
    
}
.texto{
   padding-top: 80px;
   padding-left: 400px;
   padding-right: 200px;
   font-size: large;
   font-display: inline;
   line-height: 50px;
}
footer{
    padding-left: 80%;
    color: rgb(5, 116, 38);
}